* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans" sans-serif;
}
.container {
	margin: 0 auto;
	max-width: 1440px;
}

.wrapper {
	border: 5px solid black;
	height: 90vh;
	margin: 20px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
}

.box {
	height: 200px;
	width: 200px;
	background: greenyellow;
	border: 5px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	border-radius: 10px;
}

.box p {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 20px;
	font-family: sans-serif;
}
